body {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 450px;
}

.calculator-display {
  text-align: end;
  height: 64px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
